<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.audbru.knitpattern">

    <application
        android:name=".KnitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProjectSelectionActivity">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".CreateProjectActivity"/>
            <!--android:windowSoftInputMode="stateVisible|adjustPan"/>-->
        <activity android:name=".DisplayRowActivity"/>
            <!--android:windowSoftInputMode="stateHidden"/>-->
    </application>

</manifest>